{% extends "layout/default_beer.twig" %}

{% block body %}
<table class="table table-striped">
		<thead>
			<tr>
				<th>Nomination</th>
				<th>Prix HT</th>
				<th>Prix TTC</th>
				<th>Quantité</th>
			</tr>
		</thead>
		<tbody>
			
			{% for produit in products %}
				<tr>
					<td>{{ produit.title }}</td>
					<td>{{ produit.priceHT * produit.beerQTY | number_format(2, '.', ',') }}€</td>
					<td>{{ (produit.priceHT * produit.beerQTY * constant.TVA) | number_format(2, '.', ',') }}€</td>
					<td>{{ produit.beerQTY }}</td>
				</tr>
			{% endfor %}
			
				<button class="btn btn-primary" type="submit">COMMANDER</button>
		</tbody>
	</table>

	<p>Pris total HT : {{ priceTotalHT | number_format(2, '.', ',') }}€</p>
	<p>Pris total TTC : {{ (priceTotalHT * constant.TVA) | number_format(2, '.', ',') }}€</p>

{% endblock body %}
